<!-- Footer Start -->
<div class="container-fluid bg-primary-color text-light footer pt-5 mt-5">
    <div class="container py-5">
        <!-- Primera fila -->
        <div class="row g-4">
            <!-- Columna 1: ¿Por qué nos eligen? -->
            <div class="col-lg-4 footer-item">
                <h4 class="mb-3">¿Por qué nos eligen?</h4>
                <p>Ofrecemos productos de CBD de alta calidad que promueven el bienestar y la satisfacción de nuestros clientes. Descubre nuestra dedicación al servicio y la excelencia.</p>
                <a href="#" class="btn py-2 px-4 rounded-pill">Leer más</a>
            </div>

            <!-- Columna 2: Información adicional -->
            <div class="col-lg-4 footer-item">
                <h4 class="mb-3">Información adicional</h4>
                <a class="btn-link" href="#">Contáctanos</a>
                <a class="btn-link" href="{% url 'core:politica_de_privacidad' %}">Política de privacidad</a>
                <a class="btn-link" href="{% url 'core:terminos_de_uso' %}">Términos y condiciones</a>
                <a class="btn-link" href="">Política de devoluciones</a>
                <a class="btn-link" href="">FAQs & Ayuda</a>
            </div>

            <!-- Columna 3: Mapa -->
            <div class="col-lg-4 footer-item">
                <h4 class="mb-3">Encuéntranos</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11609.859043041002!2d-1.9713305000000112!3d43.325462800000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd51a5a6b5980559%3A0xf83ecd961cee5a74!2sLa%20revoluci%C3%B3n%20verde%20CBD!5e0!3m2!1sen!2sus!4v1737500467512!5m2!1sen!2sus" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <!-- Segunda fila -->
        <div class="row g-4 mt-5">
            <!-- Columna 1: La Revolución Verde CBD -->
            <div class="col-lg-4 footer-item">
                <a href="#">
                    <h1 class="mb-0">La Revolución Verde CBD</h1>
                    <p class="mb-3">Derivados del CBD</p>
                </a>
            </div>

            <!-- Columna 2: Redes sociales -->
            <div class="col-lg-4 footer-item">
                <h4 class="mb-3">Síguenos</h4>
                <div class="d-flex">
                    <a href="#" class="btn me-2 btn-md-square rounded-circle">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary me-2 btn-md-square rounded-circle">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary me-2 btn-md-square rounded-circle">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://www.instagram.com/la_revolucion_verde_cbd/" class="btn btn-outline-secondary btn-md-square rounded-circle">
                        <i class="fab fa-instagram"></i>
                    </a>
                    
                </div>
            </div>

            <!-- Columna 3: Contacto -->
            <div class="col-lg-4 footer-item">
                <h4 class="mb-3">Contacto</h4>
                <p><strong>Dirección:</strong> Calle San Francisco</p>
                <p><strong>Email:</strong> larevolucionverde@gmail.com</p>
                <p><strong>Teléfono:</strong> +34 123 456 789</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright -->
<div class="container-fluid copyright bg-secondary-color py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span>&copy; 2025 La Revolución Verde, todos los derechos reservados.</span>
            </div>
            <div class="col-md-6 text-center text-md-end">
                Diseñado por <a class="text-light border-bottom" href="https://egoitzabilleira.es">EgoDev</a>
            </div>
        </div>
    </div>
</div>
