{% extends "page/base.html" %}
{% load static %}

{% block title %}
Tienda de productos de CBD, página principal
{% endblock title %}

{% block body_class %} {% endblock body_class %}

{% block navbar %}
{% include 'page/navbar.html' %}
{% endblock navbar %}
    
{% block content %}
<!-- Modal para verificación de edad -->
{% if mostrar_modal %}
<div class="overlay">
    <div class="custom-modal">
        <img src="{% static 'favicon.png' %}" alt="Verificación de Edad">
        <h1>Verificación de Edad</h1>
        <p>Debes tener al menos 18 años para acceder a este sitio web.</p>
        <form method="post" action="{% url 'tienda:verificar_edad' %}">
            {% csrf_token %}
            <label>
                <input type="checkbox" name="edad_confirmada" required>
                Confirmo que tengo 18 años o más
            </label>
            <button type="submit">Entrar</button>
        </form>
    </div>
</div>
{% endif %}

<!-- Contenedor con margen -->
<div class="container my-4">
    <!-- Contenedor para ordenación y botones de categoría -->
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
        <!-- Ordenación -->
        <div class="sort-options d-flex align-items-center gap-3">
            <label for="sortOrder" class="form-label m-0 fw-bold">Ordenar por:</label>
            <select id="sortOrder" class="form-select form-select-sm w-auto" onchange="ordenarProductos()">
                <option value="precio_asc">Precio: Menor a mayor</option>
                <option value="precio_desc">Precio: Mayor a menor</option>
                <option value="novedades">Novedades</option>
                <option value="popularidad">Popularidad</option>
            </select>
        </div>

        <!-- Botones de categorías -->
        <div class="category-buttons my-3 d-flex flex-wrap gap-2">
            <button class="btn btn-outline-success rounded-pill category-btn" data-category="all">
                Todo
            </button>
            {% for categoria, _ in productos_por_categoria_json.items %}
            <button class="btn btn-outline-success rounded-pill category-btn" data-category="{{ categoria|slugify }}">
                {{ categoria|title }}
            </button>
            {% endfor %}
        </div>
    </div>
</div>

<section>
    {% for categoria, productos in productos_por_categoria_json.items %}
    <div id="{{ categoria|slugify }}" class="category-section">
        <h2 class="text-success text-center my-4 py-2 border-bottom">{{ categoria|title }}</h2>            
        {% if productos %}
        <div class="product-grid">
            {% for producto in productos %}
            <div class="product-card">
                {% if producto.imagen1 %}
                <a href="{% url 'tienda:detalle_producto' producto.slug %}">
                    <img src="{{ producto.imagen1 }}" alt="{{ producto.nombre }}">
                </a>
                {% else %}
                <p>Imagen no disponible</p>
                {% endif %}
                <h3>{{ producto.nombre }}</h3>
                <div class="variants">
                    {% for variante in producto.variantes %}
                    <div class="variant" data-price="{{ variante.precio }}">
                        <p>Variante: {{ variante.nombre }}</p> <!-- habrá que eliminarlo luego, tras pruebas-->
                        <p>Precio: €{{ variante.precio }}</p>
                        
                        <!-- Mostrar peso solo si está presente -->
                        {% if variante.peso %}
                        <p>Peso: {{ variante.peso }} g</p>
                        {% endif %}
                        
                        {% if variante.talla %}
                        <p>Talla: {{ variante.talla }}</p>
                        {% endif %}
                        
                        <!-- Formulario de adición al carrito -->
                        <form method="post" action="{% url 'carrito:carrito_añadir' producto_id=variante.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="cantidad" value="1">
                            <input type="hidden" name="variante_id" value="{{ variante.id }}">
                            <input type="hidden" name="sobreescribir" value="false">
                            <button type="submit" class="btn btn-success {% if variante.stock <= 0 %}btn-disabled{% endif %}" {% if variante.stock <= 0 %}disabled{% endif %}>
                                {% if variante.stock > 0 %}Añadir al carrito{% else %}No hay stock{% endif %}
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Sin productos en esta categoría</p>
        {% endif %}
    </div>
    {% endfor %}
</section>

<!-- Exponer los datos como JSON para manipular con JS -->
<!-- <script>
    const productosPorCategoria = {{ productos_por_categoria_json|safe }};
</script> -->

{% endblock %}


