{% extends "page/base.html" %}
{% load static %}

{% block title %}
Tienda de productos de CBD, página principal
{% endblock title %}

{% block body_class %}bg-dark text-white{% endblock body_class %}

{% block navbar %}
{% include 'page/navbar.html' %}
{% endblock navbar %}
    
{% block content %}

<section class="parallax-section" style="background-image: url('{% static "img/marimonte.jpg" %}');">
    <div class="parallax-content text-center text-white">
      <h2>La Revolución verde</h2>
      <h3>Bienestar natural</h3>
      <p>Productos de CBD de máxima calidad</p>
    </div>
  </section>
<!-- Título principal centrado -->
<h1 class="text-center my-4">Nuestros Productos</h1>

<!-- Subtítulo que muestra/oculta los filtros y ordenación -->
<h6 class="text-white text-start ms-3" style="cursor: pointer;" onclick="toggleFiltros()">
    Filtros y Ordenación <span id="flecha">▼</span>
</h6>

<!-- Contenedor con margen, inicialmente oculto -->
<div class="container my-4" id="filtrosOrdenacion" style="display: none;">
    <!-- Contenedor para ordenación y botones de categoría -->
    <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
        <!-- Ordenación -->
        <div class="sort-options d-flex align-items-center gap-3">
            <button class="btn sort-btn" data-sort="precio_asc" onclick="ordenarProductos('precio_asc')">Precio: Menor a mayor</button>
            <button class="btn sort-btn" data-sort="precio_desc" onclick="ordenarProductos('precio_desc')">Precio: Mayor a menor</button>
            <button class="btn sort-btn" data-sort="nombre_asc" onclick="ordenarProductos('nombre_asc')">Nombre: A a Z</button>
            <button class="btn sort-btn" data-sort="nombre_desc" onclick="ordenarProductos('nombre_desc')">Nombre: Z a A</button>
            <button class="btn sort-btn" data-sort="novedades" onclick="ordenarProductos('novedades')">Novedades</button>
            <button class="btn sort-btn" data-sort="popularidad" onclick="ordenarProductos('popularidad')">Popularidad</button>
        </div>

        <!-- Botones de categorías -->
        <div class="category-buttons my-3 d-flex gap-3">
            <button class="btn category-btn" data-category="all">Todo</button>
            {% for categoria, productos in productos_por_categoria_json.items %}
                {% if productos %}  <!-- Solo renderiza si hay productos en la categoría -->
                <button class="btn category-btn" data-category="{{ categoria|slugify }}">
                    {{ categoria|title }}
                </button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<section>
    {% for categoria, productos in productos_por_categoria_json.items %}
        {% if productos %}
        <div id="{{ categoria|slugify }}" class="category-section">
            <h2 class="text-white text-center my-4 py-2 border-bottom">{{ categoria|title }}</h2>            
            <div class="product-grid">
                {% for producto in productos %}
                <div class="product-card {% if forloop.counter > 12 %}d-none{% endif %}" data-pagina="1">
                    {% if producto.imagen1 %}
                    <a href="{% url 'tienda:detalle_producto' producto.slug %}" class="product-image">
                        <img src="{{ producto.imagen1 }}" alt="{{ producto.nombre }}" class="primary-image">
                        {% if producto.imagen2 %}
                            <img src="{{ producto.imagen2 }}" alt="{{ producto.nombre }}" class="hover-image">
                        {% endif %}
                    </a>
                    {% else %}
                    <p>Imagen no disponible</p>
                    {% endif %}
                    

                    <!-- Verificamos si hay variantes disponibles antes de mostrar el formulario -->
                    <form method="post" action="{% url 'carrito:carrito_añadir' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark border-light text-light">Comprar</button>                    
                        <h3 class="mt-3 text-white display-8 text-uppercase">{{ producto.nombre }}</h3>
                        <div id="info-variante" class="mb-2">
                            <p><strong>Precio:</strong> <span id="precio-seleccionado">€{{ producto.variantes.0.precio }}</span></p>
                            <p><strong>Peso:</strong> <span id="peso-seleccionado">{{ producto.variantes.0.peso }}g</span></p>
                        </div>
                        <div class="peso-opciones">
                            {% for variante in producto.variantes %}
                            <label>
                                <input type="radio" id="variante_{{ variante.id }}" name="variante_id" value="{{ variante.id }}" required 
                                data-precio="{{ variante.precio }}" 
                                data-peso="{{ variante.peso }}" 
                                {% if forloop.first %}checked{% endif %} {% if variante.stock <= 0 %}disabled{% endif %}>                                
                                <span>{{ variante.peso }}g</span>
                            </label>
                            {% endfor %}
                        </div>
                
                        <input type="hidden" name="cantidad" value="1">
                        <input type="hidden" name="sobreescribir" value="false">
                    </form>
                
                </div>
                {% endfor %}
            </div>
            {% if productos|length > 12 %}
            <div class="text-center my-4">
                <div class="text-center my-4">
                    <button class="btn btn-dark text-white ver-mas-btn" data-categoria="{{ categoria|slugify }}" onclick="toggleVerMas(this)">
                        + productos
                    </button>
                </div>
                <div class="text-center my-4">
                    <button class="btn btn-dark text-white ver-menos-btn d-none" data-categoria="{{ categoria|slugify }}" onclick="toggleVerMas(this)">
                        - productos
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</section>
<section class="parallax-section" style="background-image: url('{% static "img/marimonte.jpg" %}');">
    <div class="parallax-content text-center text-white">
      <h2>La Revolución verde, Bienestar natural</h2>
      <p>Productos de CBD de máxima calidad</p>
    </div>
  </section>

<!-- Exponer los datos como JSON para manipular con JS -->

<script src="{% static 'js/paginacion.js' %}"></script>
<script src="{% static 'js/favoritos.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}


