{% extends 'page/base.html' %}
{% load static %}

{% block navbar %}
{% include 'page/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="container my-5">
    <h1 class="text-success mb-4">Productos</h1>

    <!-- Filtros de Categorías -->
    <div class="category-buttons mb-5">
        <h3 class="text-success mb-3">Categorías</h3>
        <div class="d-flex flex-wrap gap-2">
            {% for categoria in categorias %}
                <a href="?categoria={{ categoria.nombre }}" class="btn btn-outline-success category-btn">
                    {{ categoria.nombre }}
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- Productos -->
    <div class="productos">
        <h2 class="text-success mb-4">Productos</h2>
        <div class="product-grid">
            {% for producto in productos|slice:":9" %}
            <div class="product-card">
                <a href="{% url 'tienda:detalle_producto' producto.slug %}">
                    {% if producto.imagen1 %}
                    <img src="{{ producto.imagen1.url }}" alt="{{ producto.nombre }}" class="product-image">
                    {% else %}
                    <img src="{% static 'images/no-image-available.png' %}" alt="Imagen no disponible" class="product-image">
                    {% endif %}
                    <h3 class="text-success mt-3">{{ producto.nombre }}</h3>
                </a>
            </div>
            {% endfor %}
        </div>
        {% if productos|length > 9 %}
        <div class="text-center my-4">
            <button class="btn btn-success ver-mas-btn" data-pagina="1">Ver más</button>
        </div>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/paginacion.js' %}"></script>
<!-- En tu template HTML -->
<script>
    // Exponer los productos como JSON
    const productosPorCategoria = {{ productos_por_categoria_json|safe }};
    console.log('Productos por categoría:', productosPorCategoria);  // Verifica en la consola del navegador
</script>
{% endblock %}