{% extends "page/base.html" %}
{% load static %}

{% block title %}
  Tu carrito de compras
{% endblock %}

{% block navbar %}
{% include 'page/navbar.html' %}  
{% endblock navbar %}
  
{% block content %}
  <h1>Tu carrito de compras</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Eliminar</th>
        <th>Precio unitario</th>
        <th>Precio total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in carrito %}
        {% with producto=item.producto %}
          <tr>
            <td>
              <a href="{{ producto.get_absolute_url }}">
                <img src="{% if producto.imagen %}{{ producto.imagen.url }}
                {% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ producto.nombre }}</td>
            <td>
              <form action="{% url 'carrito:carrito_añadir' producto.id %}" method="post">
                {{ item.FormActualizarProducto.cantidad }}
                {{ item.FormActualizarProducto.sobreescribir }}
                <input type="submit" value="Actualizar">
                {% csrf_token %}
              </form>
            </td>
            <td>
              <form action="{% url 'carrito:carrito_eliminar' producto.id %}" method="post">
                <input type="submit" value="Eliminar">
                {% csrf_token %}
              </form>
            </td>
            <td class="num">${{ item.precio }}</td>
            <td class="num">${{ item.precio_total }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ carrito.carrito_total|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>

  {% if productos_recomendados %}
  <div class="recommendations cart">
    <h3>Productos recomendados</h3>
    {% for p in productos_recomendados %}
      <div class="item">
        <a href="{{ p.get_absolute_url }}">
          <img src="{% if p.imagen %}{{ p.imagen.url }}{% else %}
          {% static "img/no_image.png" %}{% endif %}">
        </a>
        <p><a href="{{ p.get_absolute_url }}">{{ p.nombre }}</a></p>
      </div>
    {% endfor %}
  </div>
  {% endif %}

  <p class="text-right">
    <a href="{% url 'tienda:listado_producto' %}" class="button light">Seguir comprando</a>
    <a href="{% url 'checkout:crear_orden' %}" class="button">Finalizar compra</a>
  </p>
{% endblock %}
