<!-- templates/pago/cancelacion.html -->
{% extends "page/base.html" %}
{% block title %}Compra Cancelada{% endblock %}

{% block navbar %}
  {% include 'page/navbar.html' %}
{% endblock navbar %}

{% block content %}
  <div class="confirmation-container">
    <div class="confirmation-box">
      <h1 class="confirmation-title">Compra Cancelada</h1>
      <p class="confirmation-message">La compra ha sido cancelada. Si tienes algún problema, no dudes en contactarnos.</p>
      <a href="{% url 'carrito:carrito_detalle' %}" class="confirmation-button">Volver al carrito</a>
    </div>
  </div>
{% endblock %}
