<!-- templates/pago/error.html -->
{% extends "page/base.html" %}
{% block title %}Error en el Pago{% endblock %}

{% block navbar %}
  {% include 'page/navbar.html' %}
{% endblock navbar %}

{% block content %}
  <div class="confirmation-container">
    <div class="confirmation-box">
      <h1 class="confirmation-title">Error en el Pago</h1>
      <p class="confirmation-message">Hubo un problema al procesar tu compra: {{ error_message }}</p>
      <a href="{% url 'carrito:carrito_detalle' %}" class="confirmation-button">Volver al carrito</a>
    </div>
  </div>
{% endblock %}
