<!-- templates/pago/proceso_pago.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesando Pago</title>
</head>
<body>
    <h1>Procesando tu Pago</h1>
    <p>Estamos procesando tu compra. Si no eres redirigido automáticamente a la página de pago de PayGreen, haz clic en el siguiente enlace.</p>
    <a href="{{ hosted_payment_url }}" target="_blank">Ir a la página de pago de PayGreen</a>
</body>
</html>
